header{
    display: flex;
    background-color: rgb(121, 118, 118);
   position: static;
    nav{
        display: flex;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    span{
        font-size: 30px;
        text-shadow: 2px solid gainsboro;
        color: blue;

    }
    ul{
        display: flex;
        list-style: none;
        text-decoration: none;
        font-size: 20px;
       margin-left: 300px; 
       color: white;
    }
    li{
     
        padding: 10px;
        color: white;
    }
    a{
       text-decoration: none; 
       color: white;
       
    }
    ul li a :hover{
        color: red;
        

    }
}
section{
 margin-top: 20px;
img{
   width: 100%;
   margin-top: 20px;
}
}